body
{
  padding: 10px;
  margin: 40px;
  font-size: 24px;
  font-family: waltograph;
  background-image: url(https://images3.alphacoders.com/106/1064653.png);
  background-repeat: no-repeat;
  background-size: auto;
  color: black;
}

nav
{
  background-color: ;
  padding: 0px;
  color: white;
}
